@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "tailwindcss";

@theme {
  /* Colors */
  --color-Blue: #1756a5;
  --color-Orange: #d36415;
  --color-Primary-500: #ff8c00;
  --color-Primary-600: #e67a00;

  /* Font */
  --font-Outfit: "Outfit", sans-serif;
}
